/* header */

@media screen and (max-width: 768px) {
    .nav {
        display: none;
    }

    .burger {
        display: inline;
    }
}

/* card section */

@media screen and (max-width: 768px) {
    .row {
        gap: 2rem;
    }

    .col {
        align-content: stretch;
    }

    .col .big {
        align-content: stretch;
    }

    .content {
        display: flex;
        flex-direction: column;
    }

    .phone {
        padding-top: 2rem;
        width: 15rem;
    }
}

@media screen and (max-width: 480px) {
    .content {
        display: flex;
        flex-direction: column;
    }

    .col {
        width: 100%;
    }

    .col.big {
        width: 100%;
        padding-top: 2rem;
    }

    .card-section {
        margin: 0 auto;
    }

    .phone {
        align-self: center;
        margin-right: 0;
    }
}

/* TABLET */

@media screen and (max-width: 992px) {
   

    .container {
        max-width: 800px;
        margin: 0 auto;
    }

  
    /* PLANNING  */

    #planning>.container>.row {
        flex-wrap: wrap;
    }

    #planning>.container>.row>.col-40 {
        width: 100%;
    }

    #planning .card {
        margin: 30px 0;
    }

    /* BENEFITS */

    #benefits .card {
        width: 50%;
    }

}

/* MOBILE */

@media screen and (max-width: 600px) {
    

    .container {
        max-width: 450px;
        margin: 0 auto;
    }

    /* CARDS */

    #cards .card {
        width: 100%;
    }

    #cards .card:first-child {
        width: 100%;
    }

    /* TESTIMONIALS */

    #testimonials .card {
        flex-wrap: wrap;
        justify-content: center;
    }

    #testimonials .card .card-image {
        width: 50vw;
        height: 50vw;
        margin: 15px 0;
    }

    #testimonials .card .card-contents {
        width: 100%;
    }

    /* BENEFITS */

    #benefits .card {
        width: 100%;
    }

    /* ABOUT */

    #about>.container>.row {
        flex-wrap: wrap;
    }

    #about>.container>.row>.col-70,
    #about>.container>.row>.col-30 {
        width: 100%;
    }

}