/* GENERICS */

button{
    padding: 0.1rem 0.8rem;
    border-radius: 1rem;
    border: none;
}

.container{
    padding: 0 2rem;
}
/* HEADER */
header{
    display: flex;
    background-color: #1185FD;
    height: 4rem;
}

.bar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: aliceblue;
    align-items: center;
}

.nav{
    display: flex;
}

.nav>li{
    margin: 0 1rem;
    align-items: baseline;
}

.burger{
    display: none;
    font-size: 2rem;
}

/* INIZIO MAIN */

/* SECTION 1 */

.row{
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
}

.card{
    background-color: #B5DDFF;
    border-radius: 1rem;
    text-align: center;
    padding: 0 0.6rem 0.6rem;
}

.card.big{
    text-align: left;
    padding: 0 0.6rem;
}

.col.big{
    width: 60%;
}

.col{
    width: 30%;
}

.content{
    display: flex;
}

span{
    color:#1185FD;
    font-size: 1.2rem;
    font-weight: 800;
    padding: 100rem 0;
}

span>i{
    font-size: 4rem;
    padding: 0.6rem;
}