/* GENERICS */

button{
    padding: 0.1rem 0.8rem;
    border-radius: 1rem;
    border: none;
}

.container{
    padding: 0 2rem;
}
/* HEADER */
header{
    display: flex;
    background-color: #1185FD;
    height: 4rem;
}

.bar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: aliceblue;
    align-items: center;
}

.nav{
    display: flex;
}

.nav>li{
    margin: 0 1rem;
    align-items: baseline;
}

.burger{
    display: none;
    font-size: 2rem;
}

/* INIZIO MAIN */

/* SECTION 1 */