/* GENERICS */

button{
    padding: 0.1rem 0.8rem;
    border-radius: 1rem;
    border: none;
}

.container{
    padding: 0 2rem;
}
/* HEADER */
header{
    display: flex;
    background-color: #1185FD;
    height: 4rem;
}

.bar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: aliceblue;
    align-items: center;
}

.nav{
    display: flex;
}

.nav>li{
    margin: 0 1rem;
    align-items: baseline;
}

.burger{
    display: none;
    font-size: 2rem;
}

/* INIZIO MAIN */

/* SECTION 1 */

.row{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem
}

.card{
    background-color: #B5DDFF;
    border-radius: 1rem;
    text-align: center;
    padding: 0 1rem 0.6rem;
    height: 100%;
}

.card.big{
    text-align: left;
    padding: 0 0.6rem;
}

.col.big{
    width: 64%;
    
}

.col{
    width: 30%;
    
}

.content{
    display: flex;
}

.card-header{
    color:#1185FD;
    font-size: 1.2rem;
    font-weight: 800;
    margin-bottom: 1.6rem;
}

.card p{
    padding-bottom: 0.6rem;
}

.card button{
    margin-top: 2rem;
    background-color: #1185FD;
    color: aliceblue;
    word-spacing: 0.3rem;
    padding: 0.6rem 2rem;
}

.card-header>i{
    font-size: 4rem;
    padding: 0.8rem;
}

.phone{
    vertical-align: bottom;
}

/* SECTION 2 */

#planning{
    margin-top: 5rem;
    padding-top: 5rem;
    background-color: #9593E6;
    margin-bottom: 5rem;
    padding-bottom: 5rem;
}

.planning-image {
    margin-bottom: 5rem;
}

.planning-image.developement{
height: 50%;
margin-bottom: 3rem;
}

#planning .card {
    width: 100%;
    margin: 30px;
    padding: 30px;
    height: fit-content;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

/* section 3 */

.testimonials-intro{
    text-align: center;
}

.testimonials-intro>h1{
    padding: 3rem 0;
    font-size: 3rem;
    font-weight: 900;
    color: #9593E6;
}

.testimonials-intro>p {
    line-height: 1.5rem;
}

#testimonials {
    margin: 80px 0;
}

#testimonials .card {
    margin: 50px 0;
    background-color: blueviolet;
    display: flex;
}

#testimonials .card .card-image {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    overflow: hidden;
}

#testimonials .card .card-contents {
    flex-grow: 1;
    color: aliceblue;
}

/* BENEFITS */
#benefits {
    margin: 50px 0;
    padding: 50px 0;
    background-color: #9593E6;
}

#benefits .cards>.row {
    display: flex;
    flex-wrap: wrap;
}

#benefits .card {
    width: 30%;
    padding: 15px;
    text-align: left;
}

#more{
    background-color: #9593E6;
    margin-top: 1rem;
}

.card>div>h3.pt3{
    font-size: larger;
    color: #9593E6;
    font-weight: 900;
}

.card-number{
    color: #9593E6;
    font-size: 2.5rem;
    font-weight: 900;
}

#benefits>h1{
    font-size: 2rem;
    font-weight: 900;
    text-align: center;
    color: aliceblue;
    padding-bottom: 3rem;
}

/* ABOUT US */

.card-about>h1{
    font-size: 3rem;
    font-weight: 900;
    color: #9593E6;
    padding-bottom: 2rem;
}

.card-about>p{
    padding-bottom: 3rem;
    font-size: 1.5rem;
    line-height: 2.4rem;
}

#about>div>.row{
    gap:0;
}

.col-30>img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 2rem;
}

.col-30>p{
    font-size: 2rem;
    color: #9593E6;
    font-weight: 900;
    padding-bottom: 2rem;
}

.col-30>button{
    background-color: #9593E6;
    color: aliceblue;
    padding: 8px 15px;
}

.col-30{
    position: relative;
}

.quote{
    position: absolute;
    font-size: 4rem;
    right: 90px;
    color: #9593E6;
}